<web-app>
   <servlet>
	<servlet-name>juegoServlet</servlet-name>
	<servlet-class>AhorcadoTDD.JuegoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>juegoServlet</servlet-name>
	<url-pattern>/juegoServlet</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>diccionarioServlet</servlet-name>
	<servlet-class>AhorcadoTDD.DiccionarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>diccionarioServlet</servlet-name>
	<url-pattern>/diccionarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>loginServlet</servlet-name>
	<servlet-class>AhorcadoTDD.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>loginServlet</servlet-name>
	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>registroUsuarioServlet</servlet-name>
	<servlet-class>AhorcadoTDD.RegistroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>registroUsuarioServlet</servlet-name>
	<url-pattern>/registroUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>rankingServlet</servlet-name>
	<servlet-class>AhorcadoTDD.RankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>rankingServlet</servlet-name>
	<url-pattern>/rankingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>pistaServlet</servlet-name>
	<servlet-class>AhorcadoTDD.PistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>pistaServlet</servlet-name>
	<url-pattern>/pistaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>nivelBasicoServlet</servlet-name>
	<servlet-class>AhorcadoTDD.NivelBasicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>nivelBasicoServlet</servlet-name>
	<url-pattern>/nivelBasicoServlet</url-pattern>
</servlet-mapping>
 <servlet>
	<servlet-name>modificarUsuarioServlet</servlet-name>
	<servlet-class>AhorcadoTDD.ModificarUsuarioServlet</servlet-class>
 </servlet>
  <servlet-mapping>
	<servlet-name>modificarUsuarioServlet</servlet-name>
	<url-pattern>/modificarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>guardarDatosUsuarioServlet</servlet-name>
	<servlet-class>AhorcadoTDD.GuardarDatosUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>guardarDatosUsuarioServlet</servlet-name>
	<url-pattern>/guardarDatosUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>infoJuegoServlet</servlet-name>
	<servlet-class>AhorcadoTDD.InfoJuegoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>infoJuegoServlet</servlet-name>
	<url-pattern>/infoJuegoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>buscarServlet</servlet-name>
	<servlet-class>AhorcadoTDD.BuscarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>buscarServlet</servlet-name>
	<url-pattern>/buscarServlet</url-pattern>
  </servlet-mapping>
</web-app>